<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Verification</title>
</head>
<body>
    <div>
        <h2>Hi from Fee2Pay</h2>
        <p>It seems that you forgot your password</p>
        <br>
        <p>To reset your password, click the link below</p>
        <a href={{link}} target="_blank">
            <button style="background-color:white; font:black; padding:5px; border:1px solid black; border-radius:50%;">Verify</button>
        </a>
    </div>
</body>
</html>