<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Verification</title>
</head>
<body>
    <div>
        <h2>Welcome to Fee2Pay</h2>
        <p>Thank you for registering</p>
        <br>
        <p>To complete your registration process, please click the link below to verify your account</p>
        <a href={{link}} target="_blank">
            <button style="background-color:white; font:black; padding:5px; border:1px solid black; border-radius:50%;">Verify</button>
        </a>
    </div>
</body>
</html>